<div class="alert">
    <div class="alert__items">
        <img class="alert__items-icon" src="@img/icon/checked.png" alt="check">
        <p class="alert__items-description">Вітаю, <span class="alert__user-email"></span>!</p>
        <button class="alert__items-close form__header-close"></button>
    </div>
</div>