.button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#4300eb);
    border: 0;
    border-radius: toRem(8);
    box-shadow: rgba(151, 65, 252, 0.2) 0 toRem(15) toRem(30) toRem(-5);
    color: $clr-ntrl-min;
    display: flex;
    font-size: $fs-micro-pc;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: toRem(80);
    padding: toRem(1);
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
      &:active,
      &:hover {
      outline: 0;
   }
   & span {
    background-color: $clr-primary;
    padding: toRem(12) toRem(10);
    border-radius: toRem(6);
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   &:hover span {
    background: none;
   }
   &:active {
    transform: scale(0.9);
   }
  }