.form {
    position: absolute;
    border-radius: toRem(20);
    background-color: $clr-base-lt;
    top: toRem(30);
    left: 0;
    right: 0;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: toRem(50);
    min-width: toRem(350);
    height: auto;
    overflow: hidden;
    margin-bottom: toRem(50);
    transform: translateY(toRem(-570));
    transition: transform .3s ease;
    z-index: 101;
    &__content {
        @include flexCenterY;
        font-size: $fs-h5-pc;
        &-input .form-input {
            min-width: toRem(255);
        }
        &-input .create__select {
            width: toRem(250);

        }
        &-input.create__input input{
            width: toRem(250);
        }
        &-buttons {
            display: flex;
            margin-top: toRem(20);
            margin-bottom: toRem(20);
            column-gap: toRem(8);
        }
        &-button {
            & span {
                padding: toRem(11) toRem(20);
                font-size: $fs-base;
            }
            &.send-form {
                padding: 0;
            }
            &.send-form span {
                display: flex;
                align-items: center;
            }
            &.update-form span {
                display: flex;
                align-items: center;
            }
            &.update-form {
                padding: 0;
            }
            &.cancel {
                font-size: $fs-h3-pc;
                background-image: linear-gradient(144deg,#ff1d74, #f34242 50%,#eb6e00);
                padding: 0;
                & span {
                    padding: toRem(10) toRem(20);
                }
            }
        }
        }
        
        &__header {
            position: relative;
            width: 100%;
            font-weight: 700;
            color: $clr-base-lt;
            padding: toRem(20) 0;
            text-align: center;
            background-color: $clr-base;
            margin-bottom: toRem(10);
            &::after {
                position: absolute;
                content: 'Create';
                font-size: $fs-nano-pc;
                color: #fff200;
                top: toRem(27);
                left: toRem(30);
            }
            &-title {
                font-size: $fs-h2-pc;
            }
            &-close {
                overflow: hidden;
                position: relative;
                position: absolute;
                top: toRem(5);
                right: toRem(5);
                border: none;
                padding: 0;
                width: toRem(20); 
                height: toRem(20);
                border-radius: 50%;
                background: transparent;
                color: $clr-base-lt;
                font: inherit;
                text-indent: 100%;
                cursor: pointer;
                transition: .2s all ease-in;
                
                &:hover {
                    background-color: $clr-base-lt;
                    color: rgb(77, 77, 255);
                }
                
                &:before, &:after {
                    position: absolute;
                    top: 15%; left: calc(50% - .0625em);
                    width: .125em; height: 70%;
                    border-radius: .125em;
                    transform: rotate(45deg);
                    background: currentcolor;
                    content: ''
                }
                
                &:after { 
                    transform: rotate(-45deg); 
                }
            }
}
}
@media (max-width: $tablet) {
    .form {
        top: toRem(30);
        margin-top: toRem(50);
    }
}
@media (max-width: $mobile) {
    .form {
        min-width: toRem(300);
        &__content {
            font-size: $fs-milli-mob;
            &-button {
                & span {
                    font-size: $fs-nano-pc;
                }
                &.cancel {
                    & span {
                        padding: toRem(10) toRem(6);
                    }
                }
            }
            }
            &__header {
                &::after {
                    top: toRem(21);
                    left: toRem(30);
                }
                &-title {
                    font-size: $fs-base;
                }
    }
    }
}