.form__content-input {
    @include flexCenterY;
    position: relative;
    margin: toRem(15) auto;
    width: toRem(250);
    text-align: start;
        & input[type="text"],& input[type="date"] {
            text-align: center;
            font-size: $fs-base;
            border: none;
            border-bottom: toRem(2) solid #ccc;
            padding: toRem(5) toRem(28);
            background-color: transparent;
            outline: none;
        }
		  & input[type="date"] {
			margin-top: toRem(15);
		  }
        & .label {
            position: absolute;
            top: 0;
            left: 0;
            color: $clr-primary-dk;
            transition: all 0.3s ease;
            pointer-events: none;
        }
        & h3 {
            color: $clr-primary-dk;
        }
        & input[type="text"]:focus ~ .label,
        input[type="text"]:valid ~ .label {
            top: toRem(-15);
            font-size: $fs-base;
            color: $clr-undrln;
        }
        & .underline {
            position: absolute;
            bottom: 0;
            left: 0;
            height: toRem(1);
            width: 100%;
            background-color: $clr-undrln;
            transform: scaleX(0);
            transition: all 0.3s ease;
        }
        & input[type="text"]:focus ~ .underline,
        input[type="text"]:valid ~ .underline {
            transform: scaleX(1);
        }
}