.loader {
    display: none;
    margin-right: toRem(24);
    width: 2.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
    & circle {
        fill: none;
        stroke: #6f5cc4;
        stroke-width: 2;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash4 1.5s ease-in-out infinite;
       }
   }
   
   
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: toRem(-35);
    }
   
    100% {
     stroke-dashoffset: toRem(-125);
    }
   }