.logOut {
    position: absolute;
    top: toRem(55);
    right: toRem(95);
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr-primary-l;
    border: toRem(1) solid $clr-primary;
    border-radius: toRem(5);
    &__text {
        padding: toRem(10) toRem(20);
        font-size: toRem(14);
    }
    &__button {
        width: toRem(30);
        margin-bottom: toRem(10);
        background-image: linear-gradient(144deg,#ff1d74, #f34242 50%,#eb6e00);
        padding: 0;
        & span {
            padding: toRem(5) toRem(10);
        }
    }
}


@media (max-width: $mobile) {
    .logOut {
        top: toRem(50);
        right: toRem(5);
        &__text {
            font-size: $fs-micro-tab;
        }
    }
}


.show {
    display: none;
}