.alert {
    display: flex;
    position: fixed;
    bottom: toRem(15);
    right: toRem(10);
    transition: opacity 1s ease;
    opacity: 0;
    &__items {
        display: flex;
        align-items: center;
        background-color: $clr-base-dk;
        border-radius: toRem(15);
        padding: toRem(15) toRem(25) toRem(15) toRem(15);
        &-description {
            font-size: $fs-h4-pc;
            color: $clr-ntrl-min;
            margin-left: toRem(10);
            & span {
                color: $clr-base-ltr;
            }
        }
        &-close {
            width: toRem(15);
            height: toRem(15);
        }
    }
}