.header {
    display: flex;
    justify-content: space-between;
    background: rgb(111,92,196);
    background: linear-gradient(90deg, rgba(111,92,196,1) 28%, rgba(103,65,144,1) 63%);
    z-index: 6;
    position: relative;
    &__logo {
        cursor: pointer;
        padding: toRem(15) toRem(15);
        user-select: none;
        & span {
            color: #674190;
        }
    }
    &__items {
        display: flex;
        align-items: center;
        &-btn {
            &.login__button {
                display: flex;
            }
            &.visit__button {
                display: none;
            }
            text-transform: uppercase;
            margin-right: toRem(15);
            
            & span {
                padding: 0 toRem(20);
            }
        }
    }
    &__user {
        display: none;
        align-items: center;
        &-img img {
            cursor: pointer;
            margin-top: toRem(5);
            width: toRem(30);
            height: toRem(30);
            border-radius: 50%;
        }
        &-email {
            color: #fff;
            margin-left: toRem(10);
            margin-right: toRem(25);
        }
    }
    &-title {
        color: #fff;
        letter-spacing: toRem(4);
    }
}
@media (max-width: $desktop) {
    .header {
        &__logo {
            font-size: $fs-micro-pc;
        }
        &__items {
            &-btn {
                text-transform: uppercase;
                margin-right: toRem(15);
                
                & span {
                    font-size: $fs-milli-tab;
                    padding: 0 toRem(20);
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    .header {
        background: linear-gradient(90deg, rgba(111,92,196,1) 58%, rgba(103,65,144,1) 93%);
        &__logo {
            font-size: $fs-pico-mob;
        }
        &__items {
            display: flex;
            align-items: center;
            &-btn {
                &.login__button {
                    display: flex;
                }
                &.visit__button {
                    display: none;
                }
                text-transform: uppercase;
                margin-right: toRem(15);
                
                &.button span {
                    font-size: $fs-pico-mob;
                    padding: toRem(5);
                }
            }
        }
        &__user {
            display: none;
            align-items: center;
            &-img img {
                margin-right: toRem(10);
            }
            &-email {
                display: none;
            }
        }
        &-title {
            color: #fff;
            letter-spacing: toRem(4);
        }
    }
}