.login {
  height: 90vh;
  @include flexCenterY;
  text-align: center;
  &__form-page {
    display: flex;
    align-items: center;
	//  gap: toRem(50);
  }
  &__form-img {
	display: flex;
	margin: 0px 25px;
  }
  &__form-img img {
    max-width: toRem(690);
    height: auto;
  }
  &__text {
    margin-top: toRem(50);
    &-graph {
      font-weight: 700;
      color: $clr-base;
      font-size: $fs-h3-pc;
      margin-bottom: toRem(20);
    }
  }
}

.form-box {
  max-width: toRem(250);
  background-color: $clr-primary-l;
  overflow: hidden;
  color: $clr-ntrl-max;
}

.form__login {
  position: relative;
  display: none;
  transform: translateX(toRem(-300));
  transition: all 0.2s ease;
  flex-direction: column;
  align-items: center;
  gap: toRem(16);
  text-align: start;
  &-title {
    font-weight: bold;
    font-size: $fs-h1-mob;
    color: $clr-base;
  }
  &-subtitle {
    font-size: $fs-base;
    color: #635c73;
	 text-align: center;
  }
}

.form-container {
  overflow: hidden;
  background-color: $clr-primary-l;
  margin: toRem(10) 0 toRem(5);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__input {
  position: relative;
  max-width: toRem(270);
  border: none;
  box-shadow: 0 1.5px 0 0 $clr-base-ltr;
  padding: toRem(15) 0 toRem(15) toRem(10);
  transition: all 200ms ease-in-out;
  opacity: 0.8;
  margin-bottom: toRem(10);
}
.input-label {
  font-size: $fs-milli-pc;
  font-weight: bold;
  color: $clr-base-ltr;
  margin-bottom: toRem(4);
  margin-left: toRem(1);
}
.form__input::placeholder {
  color: rgb(145, 145, 145);
  font-size: $fs-base;
}

.form__input::after {
  content: attr(placeholder);
  position: absolute;
  color: #161616;
  top: 0;
  left: 0;
}

.form__input:focus {
  border: none;
  box-shadow: 0px 1.5px 0px 0px #6f5cc4;
  outline: none;
}

.form__input:focus::placeholder {
  visibility: hidden;
}

.login__form-btn {
  min-width: toRem(90);
  padding-bottom: 10px;
  padding: toRem(0);
}

@media (max-width: $desktop) {
  .login {
    &__form-img img {
      max-width: toRem(490);
    }
  }
}

@media (max-width: $tablet) {
  .login {
    &__form-img img {
      max-width: toRem(450);
    }
    &__text {
      &-graph {
        font-size: toRem(15);
      }
    }
  }
  .form__login {
    text-align: start;
    &-title {
      font-size: toRem(25);
    }
  }
}
@media (max-width: $mobile) {
  .login {
    &__form-img img {
      max-width: toRem(350);
    }
    &__text {
      &-graph {
        font-size: toRem(15);
      }
    }
  }
  .form__login {
    margin-left: toRem(10);
    text-align: start;
    &-title {
      font-size: toRem(25);
    }
  }
}

@media (max-width: $mobileM) {
	.login {
		&__form-page {
			flex-direction: column;
		}
	  &__form-img img {
		 max-width: toRem(310);
	  }
	}
 }

 @media (max-width: $mobileXL) {
	.login {
	  &__form-img img {
		 max-width: toRem(270);
	  }
	}
 }