.main {
    &__content {
        display: flex;
        width: 100%;
        &-left {
            display: none;
            flex-direction: column;
            align-items: center;
            background-color: $clr-base;
            min-width: toRem(300);
            height: 100%;
            position: fixed;
            padding-top: toRem(66);
            z-index: 0;
            top: 0;
        }
        &-right {
            display: none;
            padding: toRem(70) toRem(15) toRem(10) toRem(15);
            margin-left: toRem(300);
            width: 100%;
            max-height: 100%;
        }
    }
    &__filter {
        @include flexCenterY;
        background-color: $clr-primary-lt;
        margin: toRem(15) 0;
        border-radius: toRem(5);
        box-shadow: 0 0 .2vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
        &-title {
            font-weight: 400;
            font-size: $fs-h4-pc;
            color: $clr-ntrl-max;
            letter-spacing: toRem(1);
            padding: toRem(10) toRem(35);
            margin-right: toRem(15);
            position: relative;
            &::before {
                content: url(../img/icon/arrow-down.png);
                width: toRem(100);
                height: toRem(100);
                top: toRem(13);
                left: toRem(103);
                position: absolute;
            }
            &::after {
                content: "";
                width: toRem(100);
                height: toRem(2);
                bottom: 0;
                left: toRem(25);
                position: absolute;
                background-color: $clr-base-d;
            }
        }
    }
    &__input {
        display: flex;
        flex-direction: column;
        margin-bottom: toRem(10);
        & .input {
            font-weight: 400;
            font-size: $fs-base;
            color: $clr-ntrl-max;
            background-color: $clr-primary-lt;
            box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
            border-radius: 0.4vw;
            border: none;
            outline: none;
            padding: 0.4vw;
            max-width: toRem(250);
            min-height: toRem(35);
            transition: .4s;
            position: relative;
            &:hover {
                box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
            }
            &:focus {
              box-shadow: 0 0 0 .15vw #504190;
            }
        }
    }
    &__description {
        font-size: $fs-h4-pc;
        font-weight: 400;
        margin-top: toRem(20);
        margin-bottom: toRem(15);
        color: #eaeaeab8;
    }
    &__button {
        display: flex;
        align-items: center;
        gap: toRem(10);
        margin-top: toRem(10);
        & .clear__button {
            font-size: $fs-h3-pc;
            background-image: linear-gradient(144deg,#ff1d74, #f34242 50%,#eb6e00);
            border-radius: toRem(10);
            padding: 0;
            max-height: toRem(37);
        }
        & .show__button {
            display: none;
        }
    }
    &__right-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, toRem(350));
        grid-template-rows: max-content;
        background-color: #fff;
        justify-content: center;
		  align-content: flex-start;
        min-width: 100%;
        min-height: 80vh;
        gap: toRem(25);
        padding: toRem(10) 0;
    }
    &__right-box {
        margin: toRem(15) 0 0 0;
        background-color: $clr-ntrl-min;
        border-radius: toRem(5);
        position: absolute;
        top: toRem(66);
        box-shadow: 0 0 .2vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
        &.filter__box {
         display: none;       
        }
    }
    &__right-title {
        font-size: $fs-h4-pc;
        font-weight: 400;
        padding: toRem(10) toRem(20);
        letter-spacing: toRem(1);
        position: relative;
        &::after {
            content: "";
            width: 90%;
            height: toRem(2);
            bottom: 0;
            left: 5%;
            position: absolute;
            background-color: $clr-base-d;
        }
    }
}


.form-left {
    @include flexCenterY;
	margin-top: toRem(20);
}


.btn-toggle {
    display: flex;
    align-items: center;
	flex-direction: column;
    text-align: center;
    max-width: toRem(247);
	&__title {
		font-size: $fs-h4-pc;
    	font-weight: 400;
    	margin-top: toRem(20) 0 toRem(15) toRem(5);
    	color: rgba(234, 234, 234, 0.7215686275);
	}

	&__normal.active, &__move.active {
		background-color: $clr-base-d;
		color: $clr-ntrl-min;
	}

}
.toggle-btn {
    background-color: $clr-primary-ltst;
    padding: toRem(10);
    border-radius: toRem(6);
    width: 100%;
    height: 100%;
    font-size: toRem(14);
    transition: 300ms;
    color: #454242;
    margin: toRem(15) 0 0 0;
    cursor: pointer;
}


@media (max-width: $desktop) {
    .main {
        &__content {
            &-left {
                min-width: toRem(250);
            }
            &-right {
                padding: toRem(70) toRem(15) toRem(10) toRem(0);
                margin-left: toRem(265);
            }
        }
        &__input {
            & .input {
                padding: toRem(5);
                max-width: toRem(200);
                min-height: toRem(20);
            }
        }
        &__filter {
            &-title {
                font-size: $fs-micro-pc;
                &::before {
                    top: toRem(10);
                    left: toRem(93);
                }
                &::after {
                    left: toRem(19);
                }
            }
        }
        &__description {
            font-size: $fs-micro-pc;
            font-weight: 400;
            margin-top: toRem(20) 0 toRem(15) 0;
        }
        &__button {
            & .clear__button {
                font-size: $fs-micro-pc;
            }
        }
        &__right-title {
            font-size: toRem(13);
        }
    }
    .btn-toggle {
        margin-top: toRem(20);
        &__title {
            font-size: $fs-h5-pc;
            margin-top: toRem(20) 0 toRem(15) toRem(5);
        }
    }
    .toggle-btn {
        font-size: toRem(12);
        max-width: toRem(200);
    }
}

@media (max-width: $tablet) {
    .main {
        &__content {
            &-left {
                z-index: 101;
                transition: all .4s ease;
                &.toggle__queries {
                    transform: translate(toRem(-250));
                }
            }
            &-right {
                display: none;
                flex-direction: column;
                margin: 0 auto;
                padding: toRem(20) toRem(15) toRem(10) toRem(15);
            }
        }
        &__button {
            & .clear__button {
                font-size: $fs-micro-pc;
            }
            & .show__button {
                display: flex;
            }
        }
        &__right-wrapper {
            grid-template-columns: repeat(auto-fill, toRem(250));
        }
        &__right-boxes {
            display: flex;
            justify-content: center;
            gap: toRem(10);
        }
        &__right-box {
            position: relative;
            top: toRem(-12);
            &.filter__box {
                display: flex;
            }
        }
        &__right-title {
            font-size: $fs-micro-pc;
        }
    }
    
}

@media (max-width: $mobile) {
    .main {
        &__content {
            &-left {
                min-width: toRem(200);
            }
            &-right {
                padding: toRem(20) toRem(15) toRem(10) toRem(15);
            }
        }
        &__filter {
            margin: toRem(10) 0;
            &-title {
                font-size: $fs-nano-pc;
                padding: toRem(10) toRem(20);
                &::before {
                    top: toRem(10);
                    left: toRem(70);
                }
                &::after {
                    width: toRem(70);
                    left: toRem(17);
                }
            }
        }
        &__input {
            margin-bottom: toRem(0);
            & .input {
                font-size: $fs-micro-pc;
                border-radius: toRem(5);
                min-height: toRem(25);
            }
        }
        &__description {
            font-size: $fs-micro-pc;
            font-weight: 400;
            margin-top: toRem(10);
            margin-bottom: toRem(10);
            color: #eaeaeab8;
        }
        &__select select {
            min-width: toRem(190);
        }
        &__button {
            & .clear__button {
                font-size: toRem(13);
            }
            & .show__button {
                display: flex;
            }
        }
        &__right-wrapper {
            grid-template-columns: repeat(auto-fill, toRem(250));
        }
        &__right-boxes {
            gap: toRem(10);
        }
        &__right-box {
            top: toRem(-12);
            &.filter__box {
                display: flex;
            }
            &.patient__list h2{
                background-image: none;
                color: #000;
                padding: toRem(8);
            }
            }
            &__right-title {
                font-size: $fs-pico-mob;
                padding: toRem(5) toRem(10) toRem(5) toRem(10);
                letter-spacing: toRem(1);
                position: relative;
            }
        }
        .btn-toggle {
            &__title {
                font-size: $fs-micro-pc;
            }
        
        }
        .toggle-btn {
            padding: toRem(6);
            font-size: toRem(12);
        }
    }
