//Px to toRem math
@use "sass:math";
@function toRem($px, $current: 16) {
  $result: math.div($px, $current) * 1rem;
  @return $result;
}

//Fonts-size

/* base font size - applied at body / html level */
$fs-base: toRem(16);

//Mobile ver
/* heading font sizes */
$fs-h1-mob: toRem(27);

/* smaller than heading font sizes */
$fs-milli-mob: toRem(15);
$fs-micro-mob: toRem(11);
$fs-nano-mob: toRem(9);
$fs-pico-mob: toRem(8);


//Tablets-ver
/* smaller than heading font sizes */
$fs-milli-tab: toRem(11);
$fs-micro-tab: toRem(9);
$fs-nano-tab: toRem(8);

//PC-ver
/* heading font sizes */
$fs-h1-pc: toRem(30);
$fs-h2-pc: toRem(22);
$fs-h3-pc: toRem(20);
$fs-h4-pc: toRem(17);
$fs-h5-pc: toRem(15);


/* smaller than heading font sizes */
$fs-milli-pc: toRem(14);
$fs-micro-pc: toRem(13);
$fs-nano-pc: toRem(12);
$fs-pico-pc: toRem(10);

//Colors
$clr-primary-l: #e7e7e7;
$clr-primary-lt: #eaeaea;

//Base colors
$clr-base: #6f5cc4;
$clr-base-d: #504190;
$clr-base-lt: #EEE;
$clr-base-dk: #4f4190e8;
$clr-base-ltr: #8f84c0;

//Primary colors
$clr-primary: #43377c;
$clr-primary-ltr: #f5f5f5;
$clr-primary-ltst: #afaeb5;
$clr-primary-dk: #635C73;

//Neutral
$clr-ntrl-min: #fff;
$clr-ntrl-max: #000;

//Status
$clr-sts-blue: #1F78D1;
$clr-sts-green: #1AAA55;

// Underline
$clr-undrln: #333;

// media-queries
$desktop: 1200px;
$tablet: 992px;
$mobile: 768px;
$mobileM: 680px;
$mobileXL: 680px;