// Імпорт стилів
@import "_reset";
@import "_mixins";
@import '_variables';
@import "sections/sections";
@import "components/components";

html {
  overflow-x: hidden;
}
body {
    font-family: 'Montserrat', sans-serif;
    min-width: 100%;
    min-height: 100%;
    background-color: $clr-primary-l;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
.bg {
  display: none;
  position: absolute;
  min-width: 100%;
  min-height: 130%;
  background-color:rgba(0,0,0,.6);
  filter: brightness(10%);
  z-index: 100;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.auth_modal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.create_visit_modal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.visit {
  border: 1px solid #888;
}

.error_message {
  color: red;
}

.hide {
  display: none;
}
#no_visits {
  display: none;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 56%;

}